
<!-- Footer -->
<footer class="page-footer font-small amber darken-4 border-top border-top-light">

    <!-- Footer Elements -->
    <div class="container">
        <h4 class="font-weight-bold text-center mt-3">Síguenos</h4>
        <!-- Grid row-->
        <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-2">

            <div class="mb-5 flex-center">

            <!-- Facebook -->
            <a class="fb-ic text-orange-customized">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!-- Twitter -->
            <a class="tw-ic text-orange-customized">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!-- Google +-->
            <a class="gplus-ic text-orange-customized">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!--Linkedin -->
            <a class="li-ic text-orange-customized">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!--Instagram-->
            <a class="ins-ic text-orange-customized">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>

            <!--Pinterest-->
            <a class="pin-ic ">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>

            </div>

        </div>
        <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="index.html"> Boletox.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->