
<header class="z-depth-4 border-bottom border-bottom-light  mb-2">
    <div class="container ">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between z-depth-0">

        <a class="navbar-brand text-light font-weight-bold" href="index.php"><i class="icon-boletox text-light"></i></a>
           
        <div>
            
            <div class="collapse navbar-collapse" id="basicExampleNav">
            
            <form class="form-inline">
                <div class="my-0">
                <input class="form-control " type="text" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Buscar</button>
                </div>
            </form>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> Perfil </a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Mi perfil</a>
                    <a class="dropdown-item" href="#">Salir</a>
                </div>
                </li>
            </ul>

            </div>

        </div>

        </nav>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark w-100 z-depth-0 amber darken-4 ">

        <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333" aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation"></button>
        
        <ul class="navbar-nav w-100 d-flex justify-content-around">
            <li class="nav-item dropdown ">
                <a class="nav-link nav-hover dropdown font-weight-bold" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ticket-alt"></i> Entradas</a>
                <div class="dropdown-menu dropdown-menu-left amber darken-4  border-bottom border-bottom-dark dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                <a class="dropdown-item text-light font-weight-bold" href="cartelera.php"></i>Cartelera</a>
                <a class="dropdown-item text-light font-weight-bold" href="preventa.php">Preventa</a>
                <a class="dropdown-item text-light font-weight-bold" href="estrenos.php">Proximos Estrenos</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-hover font-weight-bold grey-lighter-hover" href="peliculas.php"><i class="fas fa-film"></i> Peliculas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-hover font-weight-bold" href="ofertas.php"><i class="fas fa-star"></i> Ofertas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-hover font-weight-bold" href="noticias.php"><i class="fas fa-newspaper"></i> Noticias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-hover font-weight-bold" href="contactanos.php"><i class="fas fa-phone"></i> Contactanos</a>
            </li>
        </ul>
        
        </div>
            
    </nav>
    
</header>
<!--/.Navbar -->